<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client_add form</title>
</head>
<body>
    <h1>Add a Client</h1>
    <form action="/add" method="post">
       <b>Client Name: </b> <input name="Client_Name" type="text" placeholder="Client_Name" style="margin: 10px; padding: 5px; width: 20%"><br>
       <b>Passenger_Name: </b> <input name="Passenger_Name" type="text" placeholder="Passenger_Name" style="margin: 10px; padding: 5px; width: 20%"><br>
       <b>Date of Birth: </b> <input name="DOB" type="date" placeholder="DOB" style="margin: 10px; padding: 5px; width: 20%"><br>
       <b>Mobile_Number: </b> <input name="Mobile_Number" type="number" placeholder="Mobile_Number" style="margin: 10px; padding: 5px; width: 20%"><br>
       <b>Seat: </b> <input name="Seat" type="text" placeholder="Seat" style="margin: 10px; padding: 5px; width: 20%"><br>
       <b>Meal: </b> <input name="Meal" type="text" placeholder="Meal" style="margin: 10px; padding: 5px; width: 20%"><br>
        <b>Passenger_Number: </b><input name="Passport_Number" type="text" placeholder="Passport_Number" style="margin: 10px; padding: 5px; width: 20%"><br>
       <b>Passport_Expiry_Date: </b> <input name="Passport_Expiry_Date" type="date" placeholder="Passport_Expiry_Date" style="margin: 10px; padding: 5px; width: 20%"><br>
        <button type="submit" style="margin: 10px; padding: 5px;">ADD</button>
    </form>
</body>
</html>